<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.ezen.springmvc.domain.article.mapper.ArticleMapper">
	<!-- select 태그를 이용하여 전체 게시글 조회를 위한 SQL 매핑 - 연결 테스트용 -->
	<!-- 해당 게시판의 모든 게시글 -->
	<select id="findAll" resultType="Article">
		SELECT article_id articleId,
			board_id boardId,
			subject,
			writer,
			regdate,
			content,
			hitcount,
			group_no,
			level_no,
			order_no
		FROM article
		WHERE board_id = #{boardId}
		ORDER BY regdate DESC
	</select>
	
	<!-- 해당 게시글의 모든 댓글 -->
	<select id="readGroupArticle" parameterType="int" resultType="Article">
		SELECT article_id articleId,
			board_id boardId,
			subject,
			writer,
			regdate,
			content,
			hitcount,
			group_no,
			level_no,
			order_no
		FROM article
		WHERE group_no=#{groupNo}
		ORDER BY regdate DESC
	</select>
	
	<!-- id로 게시글 상세정보 찾기 -->
	<select id="readArticle" resultType="Article">
		SELECT article_id articleId,
			board_id boardId,
			subject,
			writer,
			regdate,
			content,
			hitcount,
			group_no,
			level_no,
			order_no
		FROM article
		WHERE article_id=#{articleId} AND board_id=#{boardId}
		ORDER BY regdate DESC
	</select>

	<!-- 게시글 등록 -->
	<insert id="create" parameterType="Article">
		INSERT INTO article (
				article_id,
				board_id,
				writer,
				subject,
				content,
				passwd,
				group_no,
				level_no,
				order_no)
		VALUES (
				article_id_seq.NEXTVAL,
				#{boardId},
				#{writer},
				#{subject},
				#{content},
				#{passwd},
				article_id_seq.CURRVAL,
				#{levelNo},
				#{orderNo})
	</insert>

	<!-- 게시글 댓글 등록 -->
	<insert id="commentCreate" parameterType="Article">
		INSERT INTO article(
			article_id,
			board_id,
			writer,
			subject,
			content,
			passwd,
			group_no,
			level_no,
			order_no)
		VALUES (article_id_seq.NEXTVAL,
			#{boardId},
			#{writer},
			#{subject},
			#{content},
			#{passwd},
			#{groupNo},
			#{levelNo} + 1,
			(SELECT MAX(order_no) + 1
			 FROM article
			 WHERE board_id = #{boardId} AND group_no = #{groupNo}))
	</insert>
	
	<!-- 대댓글 달기 전 들어가는 자리 이상의 order_no를 증가시키는 쿼리 -->
	<update id="updateOrderNo">
		UPDATE article 
		SET    order_no = order_no + 1 
		WHERE  board_id = #{boardId} 
       	AND group_no = 1 
       	AND order_no > (SELECT order_no 
                       FROM   article 
                       WHERE  article_id = #{articleId})
	</update>
	
	<!-- 대댓글 달기 -->
	<insert id="setRRefly" parameterType="Article">
		INSERT INTO article
            (article_id,
             board_id,
             writer,
             subject,
             content,
             passwd,
             group_no,
             level_no,
             order_no)
		VALUES      (
             article_id_seq.NEXTVAL,
             #{boardId},
             #{writer},
             #{subject},
             #{content},
             #{passwd},
             #{groupNo},
             #{levelNo},
             (SELECT order_no + 1
              FROM   article
              WHERE  article_id = #{articleId}))
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateArticle" parameterType="Article">
		UPDATE article
		<set>
			<if test="subject != null">subject = #{subject}, </if>
			<if test="content != null">content = #{content} </if>
		</set>
		WHERE article_id = #{id}
	</update>
	
	<!-- 선택된 아티클Id받아서 삭제 -->
	<delete id="deleteArticle">
		DELETE 
  		FROM article
 		WHERE passwd = #{passwd} AND article_Id = #{articleId} AND group_no = #{groupId}
	</delete>
</mapper>