<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>타임리프 사용하기</title>
</head>
<body>
	<h2>사용자 상세정보</h2>
	<ul>
		<li th:text="${member.id}">이름</li>
		<li th:text="${member.passwd}">비밀번호</li>
		<li th:text="${member.age}">나이</li>
	</ul>

	<h2>사용자 목록</h2>
	<table>
		<tr th:each="member, state : ${members}">
			<td th:text="|번호 : ${state.count}">번호</td>
			<td th:text="|번호 : ${state.current}">번호</td>
			<td th:text="|아이디 : ${member.id}|">아이디</td>
			<td th:text="|나이 : ${member.age}|">나이</td>
		</tr>
		<tr th:each="member, state : ${members}" th:object="${member}">
			<td th:text="|번호 : ${state.count}">번호</td>
			<td th:text="|번호 : ${state.current}">번호</td>
			<td th:text="|아이디 : *{id}|">아이디</td>
			<td th:text="|나이 : *{age}|">나이</td>
		</tr>
	</table>

	<th:block th:each="member : ${members}">
		<h2 th:text="${member.id}">아이디</h2>
		<p th:text="${member.age}">나이</p>
	</th:block>
	
	

</body>
</html>